<header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong>nivierlos@gmail.com
                    &nbsp;&nbsp;
                    <strong>Mobile: </strong>+250784735963
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END-->
 
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="index.html">Dash</a></li>
                            <li><%= link_to  "Dashboard", member_dashboard_path %></li>
                            <li><%= link_to  "Users", member_members_path %></li>
                            <li><a href="table.html">Data Tables</a></li>
                            <li><a href="forms.html">Forms</a></li>
                             <li><a href="login.html">Login Page</a></li>
                            <li><a href="blank.html">Blank Page</a></li>
                            

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->